.data-bar {
	background: transparentize(white, 0.1);
	color: $text-primary;
	width: 100vw;
	height: 70px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	z-index: 999;
	 .center {
	 	flex-grow: 1;
	 	text-align: center;
	 	overflow-x: auto;
		 .mass {
			font-weight: bolder;
			color: #6A6A6A;
			font-size: 1.3em;
			letter-spacing: 0.05em;
		 }
		 .compound {
			font-weight: 300;
			letter-spacing: 0.1em;
			span {
				letter-spacing: 0.05em;
				font-weight: normal;
				font-size: 0.75em;
			}
		 }
		 .compound-container {
		 	display: flex;
		 	justify-content: center;
		 }
		.fa-pencil {
			color: #bbb;
			padding: 2px;
			margin-left: 5px;
			cursor: pointer;
			&:hover {
				color: $text-primary;
			}
		}
	 }
	 button {
		margin-right: $app-margin;
		cursor: pointer;
		height: 55px;
		color: $text-primary;
		font-size: 0.9em;
		background-color: transparent;
		outline: none;
		font-weight: 600;
		border: none;
		padding: 0 1em;
		&:hover {
			color: transparentize(map-get($types, metalloid), 0.2);
		}
		&:active {
			color: map-get($types, metalloid);
		}
	 }
}

.percentages {
	font-size: 0.85em;
	color: $text-primary;
	overflow-x: auto;
	white-space: nowrap;
}
.percentage-group {
	margin-right: 0.3em;
}
.percentage-value {
	font-weight: 300;
}

#compound-input {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.1em;
	font-size: 0.8em;
	outline: none;
}