footer {
	text-align: center;
	font-weight: 300;
	margin: 3%;
	color: $text-primary;
	font-size: 0.8em;
	a {
		text-decoration: none;
		color: darken(map-get($types, 'other-nonmetal'), 15);
		&:hover {
			color: map-get($types, 'other-nonmetal');
		}
	}
	@media (min-width:700px){
		font-size: 1em;
	}
}
.footer-heart {
	font-style: normal;
	color: #cb6773;
}
.footer-brand {
	color: #333;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.footer-brand-emphasis {
	color: #1ABC9C;
	font-weight: bold;
}