@import './elements.scss';

table {
	width: 100%;
	margin-top: 70px;
	border-collapse: collapse;
	.collapse:after {
		margin-top: 50%;
	}
	td {
		width: 5.39%;
		position: relative;

		&:after {
			content: '';
			display: block;
			margin-top: 100%;
		}

		&:hover .symbol {
			color: white;
		}
		

		
	}

	@each $type, $color in $types {
		.type-#{$type} {
			background-color: lighten($color, 6);
		}
		td:hover.grayscale.type-#{$type} .symbol {
			color: lighten($color, 6);
		}
	}

	.element {
		// border: 1px solid $text-primary;
		cursor: pointer;
	}
}