@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
$text-primary: #444;
$text-faded: #777;
$app-margin: 1%;
$types: (
	alkali-metal: #f4ee64,
	alkaline-earth: #fcc171,
	transition-metal: #ea93d9,
	post-transition-metal: #77f0b4,
	metalloid: #f58989,
	other-nonmetal: #8fc8f8,
	halogen: #9487f8,
	noble-gas: #85f780,
	lanthanoid: #c7c7c7,
	actinoid: #989898,
);

@mixin unselectable() {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
}

@mixin absolute($t, $r, $b, $l) {
	position: absolute;
	top: $t;
	right: $r;
	bottom: $b;
	left: $l;

}