footer {
	text-align: center;
	font-weight: 300;
	margin: 3%;
	color: $text-primary;
	font-size: 0.8em;
	a {
		text-decoration: none;
		color: darken(map-get($types, 'other-nonmetal'), 15);
		&:hover {
			color: map-get($types, 'other-nonmetal');
		}
	}
	.brand-link {
		letter-spacing: 0.05em;
		color: darken(#93F3C3, 30);
		&:hover {
			color: #93F3C3;
		}
	}
	@media (min-width:700px){
		font-size: 1em;
	}
}