// src/css/main.scss

@import './variables.scss';

body {
	color: $text-primary;
}
table {
	width: 100%;
	border-collapse: collapse;

	td {
		width: 5.39%;
		position: relative;

		&:after {
			content: '';
			display: block;
			margin-top: 100%;
		}
		.content {
			@include unselectable();
			font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif;
			position:absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			&:hover .symbol {
				color: white;
			}
			.symbol {
				align-self: center;
				font-weight: bolder;
				font-size: 2.7vw;
				line-height: 1;
			}
			.mass {
				align-self: center;
				font-size: 1.2vw;
				margin-bottom: 0.1vw;

			}
			.number {
				font-weight: bolder;
				font-size: 1vw;
				margin: 0.2vw 0 0 0.2vw;
				line-height: 1;
			}
		}
	}

	@each $type, $color in $types {
		.type-#{$type} {
			background-color: lighten($color, 6)
		}
	}

	.element {
		cursor: pointer;
		border: 1px solid $text-primary;
	}
}
