// src/css/main.scss

@import './variables.scss';

body {
	color: $text-primary;
}
table {
	width: 90%;
	border-collapse: collapse;

	td {
		width: 5.39%;
		position: relative;

		&:after {
			content: '';
			display: block;
			margin-top: 100%;
		}
		.content {
			position:absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
		}
	}

	.element {
		border: 1px solid gray;
	}
}
