// src/css/main.scss

@import './variables.scss';
@import './table.scss';
@import './databar.scss';
@import './footer.scss';

html, body {
	height: 100%;
}
body {
	color: $text-primary;
	font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}
#wrapper {
	flex: 1 0 auto;
}

#app {
	margin: $app-margin;
}

.grayscale{ 
	// -webkit-filter: grayscale(100%);
	// filter: grayscale(100%);
	background: white !important;
	&:hover {
		color: $text-primary !important;
	}
}
