// src/css/main.scss

@import './variables.scss';

body {
	color: $text-primary;
	font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif;
	// font-family: 'Open Sans';
}

table {
	width: 100%;
	margin-top: 55px;
	border-collapse: collapse;

	td {
		width: 5.39%;
		position: relative;

		&:after {
			content: '';
			display: block;
			margin-top: 100%;
		}

		&:hover .symbol {
			color: white;
		}
		&:hover.grayscale .symbol {
			color: $text-primary;
		}

		.content {
			@include unselectable();
			@include absolute(0, 0, 0, 0);
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.symbol {
				font-size: 2.7vw;
				line-height: 1;
				font-weight: bolder;
				align-self: center;
			}

			.mass {
				font-size: 1.2vw;
				margin-bottom: 0.1vw;
				align-self: center;

			}

			.number {
				font-size: 1vw;
				line-height: 1;
				font-weight: bolder;
				margin: 0.2vw 0 0 0.2vw;
			}
		}
	}

	@each $type, $color in $types {
		.type-#{$type} {
			background-color: lighten($color, 6);
		}
	}

	.element {
		border: 1px solid $text-primary;
		cursor: pointer;
	}
}

.data-bar {
	background: transparentize(white, 0.1);
	color: map-get($types, 'metalloid');
	width: 100vw;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	z-index: 999;
}

.grayscale{ 
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	&:hover {
		-webkit-filter: none;
		filter: none;
	}
}
